WFM_DEBUG=false
WFM_CORS_ORIGINS=["http://localhost:8000"]
WFM_APP_PORT=8000

WFM_POSTGRES_DB=wfm
WFM_POSTGRES_USER=wfm
WFM_POSTGRES_PASSWORD=wfm
WFM_POSTGRES_PORT=5432
WFM_DATABASE=postgresql+psycopg://wfm:wfm@postgres:5432/wfm

WFM_MQTT_URL=mqtt://emqx:1883
WFM_EMQX_API_BASE_URL=http://emqx:18083
WFM_ENABLE_MQTT_SERVICES=true

WFM_MQTT_PUBLIC_HOST=localhost
WFM_MQTT_PUBLIC_PORT=1883
WFM_MQTT_PUBLIC_TLS_PORT=8883
WFM_MQTT_TLS_ENABLED=true

WFM_EMQX_USERNAME=admin
WFM_EMQX_PASSWORD=public
WFM_EMQX_NODE_COOKIE=wfm-emqx-cookie
WFM_EMQX_AUTHZ_SHARED_KEY=wfm-internal-emqx-authz
WFM_EMQX_AUTHZ_URL=http://app:8000/api/internal/emqx/authz

WFM_AUTH_TOKEN_EXPIRE_MINUTES=1440
WFM_TIMEZONE=Asia/Shanghai
WFM_ENABLE_DEV_TEST_API=false

